<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmitEdit(editForm)" #editForm="ngForm">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"required
                 [(ngModel)]="user.name" name="name">
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" placeholder="{{user.lastName}}" class="form-control" id="lastName"
                 [(ngModel)]="user.lastName" name="lastName">
      </div>
      <div class="form-group">
          <label for="userEmail">Email</label>
          <input type="text"  class="form-control" id="userEmail"
                 [(ngModel)]="user.userEmail" name="userEmail">
      </div>
      <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control"  id="role"
                  required
                  [(ngModel)]="user.role" name="role">
            <option *ngFor="let role of roles" [value]="role">{{user.role}}</option>
          </select>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-success" >Edit</button>
      </div>
    </form>