
<h2 class="headerUser">Users</h2>
<div class="row centering">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tr *ngFor="let user of users">
              <td>{{ user.name }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.userEmail }}</td>
              <td>{{ user.role }}</td>
              <td>
                <button class="btn btn-danger btn-left" (click)="onClickDelete(user._id)">Delete</button>
                <app-modal-edit [user]="user"></app-modal-edit>
              </td>
            </tr>
 
</table>
</div>

<button class="btn btn-outline-primary" (click)="onClickCreate()" >Create new User</button>