<video autoplay muted loop id="myVideo">
  <source src="/assets/videos/ironhack-video-3.mp4" type="video/mp4">
</video>
<div class="homeContent">
  <h1><span>Welcome to the Ironhack platform</span></h1>
  <h2><span id="ironColor">Preparing the next generation of digital creators</span></h2>
  <br>
  <div class="buttons">
    <button type="button" class="btn btn-light">Learn</button>
    <button type="button" class="btn btn-light">IronShop</button>
    <button type="button" class="btn btn-light">IronJobs</button>
  </div>
</div>
