<video autoplay muted loop id="myVideo">
  <source src="{{videoUrl}}" type="video/mp4">
</video>
<div class="homeContent">
  <h1><span>Welcome to the Ironhack platform</span></h1>
  <h2><span id="ironColor">Preparing the next generation of digital creators</span></h2>
  <br>
  <div class="buttons">
    <a href="http://learn.ironhack.com/#/" target="_blank">
      <button type="button" class="btn btn-light">Learn</button>
    </a>
    <a href="https://ironhackshop.herokuapp.com/home">
      <button type="button" class="btn btn-light" target="_blank">IronShop</button>
    </a>
    <button type="button" (click)="open()" class="btn btn-light"><app-modal [text]="text" [navBar]="navBar"></app-modal>
    </button>

  </div>
</div>
